.titeltext{
    color: black;
    font-size: 3em;
    font-weight: 500;
}

.midline{
    padding-top: 2em;
    font-weight: 350;
    color: black;
    font-size: 1.7em;
}

.midlineBIG{
    padding-top: .4em;
    font-weight: 350;
    color: black;
    font-size: 1.7em;
}
.endline{
    padding-top: 2.5em;
    font-weight: 450;
    color: black;
    font-size: 1.7em;
}

.endlinev2{
    padding-top: .5em;
    font-weight: 450;
    color: black;
    font-size: 1.7em;
}

.textBox {
    padding: 4em;
    width: 50vw;
    text-align: left;
}

.textBoxBig {
    padding: 4em;
    width: 50vw;
    text-align: left;
}

.imageBox {
    position: absolute;
    width: 7.5vw;
    padding: 4.5em;
    left: 75vw;
}

.logoGit {
    position: absolute;
    width: 7.5vw;
    padding: 4.5em;
    left: 75vw;
    top: 0;
    cursor: pointer;
}